body{
	margin: 0;
	font-family: Arial;
	font-size: 36;
	color: blue
}
body:hover {
	text-decoration: none;
	color: green
}
#logo{
	height: 120px;
	width: 80px;

}

#logob{
	height: 80px;
    width: 80px;
}

#container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150vh;
	flex-direction: column;
}